.homepage-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.homepage-container {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #000000, #1b3c99);
    /* Gradient background */
}

.homepage-header {
    margin-bottom: 20px;
}

.homepage-header h1 {
    font-size: 2.5em;
    color: #ffffff;
}

.homepage-content {
    max-width: 800px;
    text-align: center;
}

.homepage-content p {
    font-size: 1.2em;
    color: #dcd3d3;
}

.homepage-features {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
    flex-wrap: wrap;
}

.feature {
    flex: 1;
    min-width: 200px;
    max-width: 300px;
    margin: 10px;
    padding: 20px;
    background: #253e65;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.feature i {
    font-size: 2em;
    color: #fffefe;
    margin-bottom: 10px;
}

.feature h3 {
    font-size: 1.5em;
    margin: 10px 0;
    color: #dcdcdc;
}

.feature p {
    font-size: 1em;
    color: #d2d2d2;
}

.homepage-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.homepage-buttons button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.homepage-buttons button:hover {
    background: #0056b3;
}